@model IEnumerable<TennisNetwork.Models.AutomapperEventViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var ev in Model)
{
    <div>
        @*Id: @ev.Id*@
        Start datetime: @ev.StartDateTime
        End datetime: @ev.EndDateTime
        End date: @ev.EndDate
    </div>
}

